/* app/styles/custom-scrollbar.css */

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #c5c5c5;
  border-radius: 10px;
  border: 2px solid #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #a8a8a8;
}

/* Dark Mode ke liye (optional) */
.dark .custom-scrollbar::-webkit-scrollbar-track {
    background-color: #2d3748; /* dark:bg-gray-800 */
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #4a5568; /* dark:bg-gray-700 */
    border-color: #2d3748;
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #718096; /* dark:bg-gray-600 */
}